<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SchoolManagement Test Suite: Core">
    <test name="Core: Util">
        <packages>
            <package name="org.ahant.core.util.*" />
        </packages>
    </test>
    <test name="Core: Controller">
        <packages>
            <package name="org.ahant.core.controller.*" />
        </packages>
    </test>
    <test name="Core: Validation">
        <packages>
            <package name="org.ahant.core.validation.*" />
        </packages>
    </test>
</suite>
