<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SchoolManagement Test Suite: Auth">
    <test name="Auth: Controller">
        <packages>
            <package name="org.ahant.admission.controller.*" />
        </packages>
    </test>
    <test name="Auth: DAO">
        <packages>
            <package name="org.ahant.admission.dao.*"/>
        </packages>
    </test>
</suite>
