<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SchoolManagement Test Suite: Admission">
    <test name="Admission: Util">
        <packages>
            <package name="org.ahant.admission.util.*" />
        </packages>
    </test>
    <test name="Admission: Controller">
        <packages>
            <package name="org.ahant.admission.controller.*" />
        </packages>
    </test>
</suite>
